@include tablet {
    .contenedor-anuncios {
        @include grid (3, 2rem)    
    }
}

.anuncio {
    background-color: lighten($gris, 5); //aclarar el color
    border: 1px solid darken($gris, 10); //aclarar el color

    .contenido-anuncio {
        padding: 2rem;
    }

    h3, p {
        margin: 0; // los margenenes de h3 y parrafos que estan dentro de anuncio son igual a 0
    }

    picture img {
        height: 30rem;
    }
}

.precio {
    color: $verde;
    font-weight: $bold;
    font-size: 3rem;
}

.icono-caracteristicas {
    display: flex;
    list-style: none; // quita los puntos de las viñetas de la lista
    padding: 0;
    max-width: 40rem;

    li {
        flex: 1;  // toma el mismo tamaño para todos los iconos
        display: flex;

        img {
            flex: 0 0 3rem; // caracterista para la imagen
            margin-right: 1rem;
        }
        p {
            font-weight: $black;
        }
    }


}
    
