.footer {
    padding: calc($separacion / 2) 0;
    background-color: $grisOscuro;
    margin-bottom: 0;
    

    .contenedor-footer {
        padding-top: calc($separacion / 2);
    }

    .copyright {
        color: $blanco;
        text-align: center;
    }

}


.navegacionfooter {
    
        display: flex;
        align-items: center; // centrado vertical
        gap: 2rem;
    


    a {
        color: $blanco;
        text-decoration: none;
        font-size: 1.8rem;
        display: block;
        text-align: center;

        @include tablet {
            margin-right: 2rem;
            font-size: 1.8rem;

            &:last-of-type {
                // el ultimo elemento diferente 
                margin-right: 0;
            }
        }
    }
}
